
<div class="row">
<div class="nav flex-column col-3">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</div>
<div class="nav flex-column col-9">
    <li class="nav-item">
        <p>address: 2921 Durbin Pl, Virginia Beach, VA 23453</p>
    </li>
    <li class="nav-item">
        <p>Phone: (757) 468-6646</p>
    </li>
</div>
</div>
    </body>
</html>