<footer>
<div class="row" style="background-color: grey; border: solid black; padding-top: 20px;"  >
<div class="nav flex-column col-3">
  <li class="nav-item" style="padding-left: 50px;">
    <a class="nav-link active" href="#">Active</a>
  
  </li>
  <li class="nav-item" style="padding-left: 50px;">
    <a class="nav-link" href="#">Link</a>

  </li>
  <li class="nav-item" style="padding-left: 50px;">
    <a class="nav-link" href="#">Link</a>

  </li>
  <li class="nav-item" style="padding-left: 50px;">
    <a class="nav-link" href="#">Disabled</a>

  </li>
</div>
<div class="nav flex-column col-6">
    <li class="nav-item">
      <i class="fas fa-map-marker" style="padding-left: 80px;"></i>
        <p style="padding-left: 60px;">2921 Durbin Pl, Virginia Beach, VA 23453</p>
    </li>
    
    <li class="nav-item">
      <i class="fas fa-phone" style="padding-left: 80px;"></i>
        <p style="padding-left: 60px;">(757) 468-6646</p>
    </li>
</div>
<div class="nav flex-column col-3">
  <p>United Mechanical Inc.</p>
  </div>
</div>
</footer>
    </body>
</html>