<% include partials/header %>
<div class="container">
<h1>our services</h1>


<% shop.forEach(function(s){ %>
     
       
        <h4>
            <%= s.title %>
        </h4>
        
        <div>
            <img src="<%= s.image %>">
        </div>
        
        <p> <%= s.descr.substring(0,10) %> ... </p>
        
        <a href="/shop/<%= s._id %>">Read More</a>

<% }) %>
 
  
</div>

<% include partials/footer %>