<% include partials/header %>

   
        
         <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4"><%= serv.title %></h1>
                  <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
         </div>
        </div>
        
        
        <div>
            <img src="<%= serv.image %>" class="img-thumbnail" style=" margin-left:500px;">
        </div>
       
        
        <hr>
        <div style=" margin: 40px;">       
        <p >
           <pre><%- serv.descr %></pre>
        </p>
       </div>
        
        
        
     
        
<% include partials/footer %>